@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
  --primary-color:#6B63B5;
  --secondary-color:rgba(107, 99, 181, 0.6);
  --neutral-color: rgba(0, 0, 0, 0.6);
  --bg-color:#000;
  --bg-color-card: #fff;
  --bg-character-dead: #ccc;
  --bg-gryffindor: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
  --bg-hufflepuff:  linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
  --bg-ravenclaw: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
  --bg-slytherin: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
  --text-color-card-title:#081F32;
  --text-color-card-body: #374A59;
  --text-status-character: #999;
  --text-color-ligth:#fff;
}

$primary-color: var(--primary-color);
$secondary-color:var(--secondary-color);
$nutral-color: var(--neutral-color);
$bg-color:var(--bg-color);
$bg-color-card: var(--bg-color-card);
$bg-character-dead: var(--bg-character-dead);
$bg-gryffindor: var(--bg-gryffindor);
$bg-hufflepuff:  var(--bg-hufflepuff);
$bg-ravenclaw: var(--bg-ravenclaw);
$bg-slytherin: var(--bg-slytherin);
$text-color-card-title: var(--text-color-card-title);
$text-color-card-body: var(--text-color-card-body);
$text-status-character: var(--text-status-character);
$text-color-ligth:var(--text-color-ligth);

body{
    background-image: url('../../images/hogwarts.jpeg');
    background-repeat: no-repeat;
    background-color: $bg-color;
    font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0 0 .5rem;
}

.select-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-container-home{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

// .modal-container {
//   position: relative;
// }