.card {
  background-color: $bg-color-card;
  display: flex;
  max-width: 32.1rem;
  max-height: 16.5rem;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;

  &__left-gryffindor,
  &__left-hufflepuff,
  &__left-ravenclaw,
  &__left-slytherin {
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    width: 15rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    &__imagen{
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
    }
  }

  &__left-gryffindor {
    background: $bg-gryffindor;
  }

  &__left-hufflepuff {
    background: $bg-hufflepuff;
  }

  &__left-ravenclaw {
    background: $bg-ravenclaw;
  }

  &__left-slytherin {
    background: $bg-slytherin;
  }

  &__rigth {
    width: 17.1rem;
    &_header {
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
    }
    &__data-character{
      margin-top: 1rem;
      margin-left: 2rem;
      &__name {
        font-weight: bold;
        font-size: 2rem;
        color: $text-color-card-title;
        margin-bottom: 1rem;
      }
      &__date,
      &__gender,
      &__color-eye,
      &__color-hair {
        color: $text-color-card-title;
      }
    }
  }
}

.data-name {
  font-size: 14px;
  font-weight: bold;
  color: $text-status-character;
}