.card {
  background-color: $bg-color-card;
  display: flex;
  max-width: 32.1rem;
  min-height: 16.5rem;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;

  &__left-Gryffindor,
  &__left-Hufflepuff,
  &__left-Ravenclaw,
  &__left-Slytherin,
  &__left-default {
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
    &__imagen{
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
    }
  }

  &__left-Gryffindor {
    background: $bg-gryffindor;
  }

  &__left-Hufflepuff {
    background: $bg-hufflepuff;
  }

  &__left-Ravenclaw {
    background: $bg-ravenclaw;
  }

  &__left-Slytherin {
    background: $bg-slytherin;
  }

  &__left-default {
    background-color: #c4c4c4;
  }

  &__rigth {
    width: 17.1rem;
    &__header {
      margin: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      &__btn-fav{
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    &__data-character{
      margin-top: 1rem;
      margin-left: 1.5rem;
      &__name {
        font-weight: bold;
        font-size: 1.5rem;
        color: $text-color-card-title;
        margin-bottom: 2rem;
      }
      &__date,
      &__gender,
      &__color-eye,
      &__color-hair {
        color: $text-color-card-title;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.data-name {
  font-size: 14px;
  font-weight: bold;
  color: $text-status-character;
}

.default {
  background-color: #c4c4c4;
}